# @vibe:goal {{GOAL}}
# @vibe:touch {{TOUCH}}
# @vibe:inputs {{INPUTS}}
# @vibe:outputs {{OUTPUTS}}
# @vibe:constraints {{CONSTRAINTS}}
# @vibe:tests {{TESTS}}
# @vibe:risk {{RISK}}
# @vibe:rollback {{ROLLBACK}}
#
# Created: {{DATE}}
# ---

"""
    {{FUNCTION_NAME}}()

{{GOAL}}
"""
function {{FUNCTION_NAME}}()
    error("Not implemented")
end
